
.chat-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    position: absolute;
    margin-top: 11%;
    margin-left: 28%;
    
  }
  
  .chat-card {
    width: 20%;
    border: 1px solid rgb(66, 66, 240);
    max-width: 250px;
    min-width: 220px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding-left:0px;
    padding-top:0;
        padding-right:10px;
    text-align: center;
    height: 56vh;
        margin-left: 24vw;
    margin-top: -15vh;
  }
  
  .chat-card-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 220px;
    margin-top: 0px;
    border-radius: 5px;    
  }
  .btn-chat{
    width: 218px;
    
  }
 
  .chat-card-scroll {
    height:289px;
    overflow-y: scroll;
  }
  
  .user {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .user img {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    margin-right: 20px;
  }
  
  .user-name {
    font-size: 14px;
  }
  .btn-card-visible{
    margin-left: 26vw;
  
  }