
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
  }
 
  .cards {
    width: 50%;
    max-width: 572px;
    min-width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    text-align: center;
    margin-top: -65%;
    padding-bottom: 16px;
  }
  
  .card-heading {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    background: #f6f6f6;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    height: 10vh;
    color: black;
  }
  
  
  
  .user {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .user img {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    margin-right: 20px;
  }
  
  .user-name {
    font-size: 18px;
  }
  .username{
    color: black;
    margin-left: 0;
  }
  .top-header{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }
  