.container-posts{
    display: flex;
}
.coming-soon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62%;
    
}
.button-component{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}