*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.links{
    background: #4336a0;
    color:#fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    text-align: center;
    top: 50%;
}