.container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}
.card{
    align-items: stretch;
}
.proPic{
    width: 10rem;
    height: 10rem;
    justify-content: center;
    text-align: center;
    border-radius: 70px;
    /* margin-left: 10vh; */
}
.verticalLine{
    height: 100%;
    width: 1px;
    background: black;
}
h6{
    align-items: center;
    justify-content: center;
    color: #838080dd;
}
.sectionLine{
    width: 181px;
    margin-left: 17%;
    height: 1px;
    background: black;
}
.middleLine{
    width: 1px;
    height: 80vh;
    background: rgb(216, 213, 213);


}
h5{
    color: rgb(145, 144, 144);
}
.horizontalLine{
    width: 90%;
    height: 1px;
    background: rgb(235, 230, 230);
}
.map-container{
    width: 73%;
    height: 60vh;
    z-index: -1 ;
}